/.DS_Store
/Inventor_Knowledge_Slides.aux
/Inventor_Knowledge_Slides.fdb_latexmk
/Inventor_Knowledge_Slides.fls
/Inventor_Knowledge_Slides.log
/Inventor_Knowledge_Slides.nav
/Inventor_Knowledge_Slides.out
/Inventor_Knowledge_Slides.snm
/Inventor_Knowledge_Slides.synctex.gz
/Inventor_Knowledge_Slides.toc
/Proseminar_0301.docx
/pic